.wrapper-box-link {
  @include mobile-button-font;
  background-color: var(--default-white);
  display: flex;
  align-items: center;

  &__text {
    margin-left: 24px;
    margin-top: 4px;
    letter-spacing: -0.3px;
  }
  .fa-lg {
    margin-left: 8px;
    margin-top: 3px;
  }
}

@media (min-width: 800px) {
  .wrapper-box-link {
    &__text {
    }
    .fa-lg {
    }
  }
}

@media (min-width: 1180px) {
  .wrapper-box-link {
    width: 132px;
    transition: 0.2s;
    margin-top: -3px;
    color: var(--default-black);
    &:hover {
      color: var(--btn-hover-font);
    }
    &:focus {
      background-color: var(--btn-pressed-bg);
    }
    &__text {
      margin-left: 24px;
      margin-bottom: 4px;
      letter-spacing: -0.1px;
    }
    .fa-lg {
      margin-left: 10px;
    }
  }
}
