.wrapper-box {
  @include mobile-display-wrapper;
  padding: 24px 16px;
  margin: 8px 16px;
  border-radius: 12px;
  &--color-1 {
    background-color: var(--box-bg-color-1);
  }
  &--color-2 {
    background-color: var(--box-bg-color-2);
  }
  &--color-3 {
    background-color: var(--box-bg-color-3);
  }
}

@media (min-width: 800px) {
  .wrapper-box {
    @include tablet-wrapper-box-size;
    &-link {
      &__text {
      }
      .fa-lg {
      }
    }
  }
}

@media (min-width: 1180px) {
  .wrapper-box {
    @include desktop-wrapper-box-size;
    width: 368px;
    &:last-child {
      margin-right: 0;
    }
  }
}
